.book-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-preview h3 {
    justify-content: center;
    text-transform: capitalize;
    color: black;
}

.book-preview img {
    max-width: 100px;
}

.red {
    color: red;
}

.green {
    color: green;
}

