.cards {
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    background-color: #0065a3;
    padding-bottom: 15px;
}

.cards li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.cards h2{
    margin: 0;
    font-size: 1rem;
}