.book-details {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(1fr, 1fr);
    gap: 15px;
}

.image-container {
    position: relative;
    margin-top: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.sale-sign {
    position: absolute;
    top: -10px;
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.red {
    color: red;
}

.green {
    color: green;
}