* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%
}

button {
    border-radius: 1rem;
    border: none;
    margin-left: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #a8a5a5;
}